.main{
    display: flex;
    width: 100vw;
    /* border: 1px red solid; */
    text-align: center;
    background-color: rgb(236, 182, 182);
}
.file{
    display: flex;
    font-size: large;
    height: 90px;
    width: 50px;
}
.img{
    height: 5rem;
    width: 5rem;
    /* border: 1px red solid; */
}
.main span{
    margin-top: 1.3rem;
    font-size: 30px;
    margin-left: -1.3rem;
    font-weight: 700;  
}